@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  @apply bg-slate-100 dark:bg-slate-900 ease-in-out;
}

.submit-button {
  @apply text-white bg-blue-500 rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring-blue-500 focus:ring-offset-blue-200 active:bg-blue-700;
}

.variable {
  @apply text-gray-900 font-sans text-3xl font-medium text-center;
}

.variable-tooltip:hover:after {
  content: attr(title);
  @apply absolute top-[-30px] bg-black dark:bg-white text-white dark:text-black px-3 rounded whitespace-nowrap text-lg;
  left: 10%;
}

/* .variable-tooltip:hover:after {
  content: attr(title);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
} */

h1,
h2,
h3,
h4,
h5,
h6,
.hN {
  @apply text-slate-900 dark:text-slate-100 ease-in-out;
}

a {
  @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50 ease-in-out;
}

label,
p {
  @apply text-slate-700 dark:text-slate-400 ease-in-out;
}
